@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <a asp-action="Index" asp-controller="Task" class="btn btn-dark">View Tasks</a>
        </div>
    </div>
</div>